@font-face {
  font-family: "Iansui";
  src: url("fonts/Iansui-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Iansui", "Noto Serif TC", serif;
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.hidden {
  display: none;
}

#drawBtn {
  display: block;
  margin: 120px auto;
  padding: 14px 36px;
  border-radius: 30px;
  background: #2f2a28;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#drawBtn:hover {
  background: #000;
}
